.content {
    margin-top: 45px;
    height: 600px;
    background-image: url(../img/Bitmap-2.jpg);
    background-repeat: no-repeat;
    padding: 117px 85px;
  
    &__title {
      /* padding: 117px 85px; */
      width: 493px;
      height: 145px;
      color: #fefcf7;
      font-size: 72px;
      font-family: "Fraunces", serif;
      font-weight: 900;
      line-height: 72px;
    }
  
    &__text {
      width: 445px;
      color: #fefcf7;
      font-size: 16px;
      font-family: "Barlow";
      line-height: 26px;
      opacity: 0.800000011920929;
    }
  
    &__button {
      margin-top: 56px;
      width: 217px;
      height: 56px;
      border-style: hidden;
      border-radius: 6px;
      background: #0e8784;
      color: #fefcf7;
      text-align: center;
      font-size: 18px;
      font-family: "Fraunces";
      font-weight: 900;
      line-height: 25px;
  
      &:active {
        background: #66d2cf;
      }
    }
  }
  
  